<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">

    <title>Edit</title>

</head>
<body>
<div class="row">
    <div class="column">
  <p>
    {% for m in manager %}
    <h3>NAME:</h3>
  <h2>{{m.name}}</h2>
    <h3>ID:</h3>
  <h2>{{m.id}}</h2>
    <h3>E-MAIL:</h3>
   <h2>{{m.Email}}</h2>
    <h3>TEL-NUMBER:</h3>
  <h2>{{m.tel}}</h2>
    <h3>Weight:</h3>
   <h2>{{m.weight}}</h2>
    <h3>Height:</h3>
   <h2> {{m.height}}</h2>
  <h3>Gender:</h3>
  <h2>{{m.gender}}</h2>
  <h3>Age:</h3>
  <h2>{{m.age}}</h2>
  <h3>Address:</h3>
  <h2>{{m.address}}</h2>
  <h3>Postal Code:</h3>
  <h2>{{m.postalCode}}</h2>
    {% endfor %}
  </p>
    </div>
    <div class="column">
        <div class="login">
        <form action=" editSuccess/" method="post">
                {% csrf_token %}
				<input type="text" placeholder="username" name="name"><br>
                <input type="text" placeholder="phone number" name="tel"><br>
				<input type="number" placeholder="weight" name="weight"><br>
				<input type="number" placeholder="height" name="height"><br>
				<input type="number" placeholder="gender" name="gender"><br>
				<input type="number" placeholder="age" name="age"><br>
				<input type="text" placeholder="address" name="address"><br>
				<input type="text" placeholder="postalCode" name="postalCode"><br>


				<input type="submit" value="submit" id="button"><br>

        </form>
        </div>
    </div>
</div>
</body>
</html>