<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/signIn.css' %}">
    <title>Hospital Forgot Password</title>

</head>
<body>
<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Hospital<span> Panel</span></div>
		</div>
		<br>
		<div class="login">
			<form action="sendPassword/" method="post">
				{% csrf_token %}
				<input type="email" placeholder="email" name="email"><br>
				<input type="submit" value="Send Password" id="button"><br>
                <a href="../">Don't have an account?</a> <br>
				<a href="../signIn/">Sign In?  </a>
			</form>
		</div>
</body>
</html>