<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/panelManager.css' %}">
    <title>Reseption Panel</title>
</head>
<body>
<div class="row">
    <div class="column">
        <h1>Identities</h1>
        <p>
            {% for m in reseption %}
            <h3>NAME:</h3>
           <h2>{{m.name}}</h2>
            <h3>ID:</h3>
            <h2>{{m.id}}</h2>
            <h3>E-MAIL:</h3>
            <h2>{{m.Email}}</h2>
            <h3>TEL-NUMBER:</h3>
            <h2>{{m.tel}}</h2>
            {% endfor %}
        </p>
        <form action="editReseption" >
            <input type="submit" value="Edit Profile" id="button" />
        </form>
    </div>
    <div class="column">
        <table id="users">
          <tr>
            <th>Doctor Name</th>
            <th>Doctor Id</th>
            <th>Time</th>
            <th>Patient Name</th>
            <th>Patient Id</th>
            <th>Check it</th>
             {% for r in reserve %}
          <tr>
            <td>{{r.user1.name}}</td>
            <td>{{r.user1.id}}</td>
            <td>{{r.time}}</td>
            <td>{{r.user2.name}}</td>
            <td>{{r.user2.id}}</td>
            <td>{{r.checked}}</td>
          </tr>
            {% endfor %}
        </table>
         <form action="edit" >
            <input type="submit" value="Verify This Users" id="button2" />
        </form>
    </div>
</div>
</body>
</html>