<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/panelManager.css' %}">
    <title>Patient Panel</title>
</head>
<body>
<div class="row">
    <div class="column">
        <h1>Identities</h1>
        <p>
            {% for m in patient %}
            <h3>NAME:</h3>
           <h2>{{m.name}}</h2>
            <h3>ID:</h3>
            <h2>{{m.id}}</h2>
            <h3>E-MAIL:</h3>
            <h2>{{m.Email}}</h2>
            <h3>TEL-NUMBER:</h3>
            <h2>{{m.tel}}</h2>
            {% endfor %}
        </p>
        <form action="editPatient" >
            <input type="submit" value="Edit Profile" id="button" />
        </form>
    </div>
    <div class="column">
        <table id="users">
          <tr>
            <th>Name</th>
            <th>Id</th>
            <th>Telphone-Number</th>
            <th>E-mail</th>
            <th>Check</th>
          <tr>
            <td>naaame</td>
            <td>12345</td>
            <td>741258</td>
            <td>naaame@gmail.com</td>
            <td>check button</td>
          </tr>
        </table>
         <form action="edit" >
            <input type="submit" value="Verify This Users" id="button2" />
        </form>
    </div>
</div>
</body>
</html>