<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/panelManager.css' %}">
</head>
<body>

<div class="container">
        <div class="column">
        <table id="users">
          <tr>
            <th>patient ID</th>
            <th>Doctor ID</th>
            <th>Subjectt</th>
            <th>Message</th>
      {% for m in messages %}
            <tr>
                <td>{{m.idPatient_id}}</td>
                <td>{{m.idDoctor_id}}</td>
                <td>{{m.subject}}</td>
                <td>{{m.text}} </td>
            </form>
            {% endfor %}
          </tr>
        </table>

    </div>

</div>

</body>
</html>
