<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/signIn.css' %}">
    <title>Hospital Sign in</title>

</head>
<body>
<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Hospital<span> Panel</span></div>
		</div>
		<br>
		<div class="login">
			<form action="enter/" method="post">
				{% csrf_token %}
				<input type="text" placeholder="username" name="id"><br>
				<input type="password" placeholder="password" name="password"><br>
				<input type="submit" value="Login" id="button"><br>
                <a href="../">dont you have an acount?  </a>
			</form>
		</div>
</body>
</html>