<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/signIn.css' %}">
    <title>Hospital Sign up</title>

</head>
<body>
<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Hospital<span> Panel</span></div>
		</div>
		<br>
		<div class="login">
			<form action="success/" method="post">
				{% csrf_token %}
				<input type="text" placeholder="username" name="name"><br>
				<input type="id" placeholder="id" name="id"><br>
                <input type="text" placeholder="phone number" name="tel"><br>
                <input type="text" placeholder="E-mail" name="Email"><br>
				<input type="submit" value="Login" id="button"><br>
				<a href="signIn">already have an account?</a>
			</form>
		</div>
</body>
</html>